/* Css Resetting */
* {
  margin: auto;
  box-sizing: border-box;
}
body{
  background-color: rgb(151, 187, 255);
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background: var(--bg);
}

/* Banner */
.banner{
    background: url(./images/earth-nasa-vhSz50AaFAs-unsplash.jpg);
    height: 80vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#heading{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3rem;
    color: whitesmoke;
    width: min-content;
}
/* Banner ends */


/* Content Area */
.content{
  padding: 50px;
}
#content-cap{
  font-size: 3rem;
}
/* Content area ends */


/* Team */
.header{
  font-size: 3rem;
}
.card{
  display: flex;
  background-color: plum;
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  padding: 10px;
  height: 10%;
  width: 50%;
  font-family: 'Roboto', sans-serif;
}
.card:hover{
  color: limegreen;
  background: rgba(221, 160, 221, 0.705);
  transition-duration: 1ms;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-content:hover{
  transition: ease;
  transform: scale(1.05);
  font-size: larger;
}
.card-head{
  height: 20%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-content{
  align-content: space-around;
  height: 60%;
  width: 100%;
  margin: 0;
  text-align: center;
}
.footer{
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
}
.like{
  width: 100%;
  background-color: rgb(0, 152, 179);
  cursor: pointer;
  border: 0;
  padding: 10px 30px;
  border-radius: 30px;
}
/* ...... */


.download-btn{
  display: flex;
  height: 50px;
  width: 20%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 80%;
  background-color: rgb(0, 200, 0);
}
footer{
  padding-top: 10px;
  background-color: rgb(221, 221, 221);
}